<div class="grid grid-cols-3 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-3">
  <div *ngFor="let booking of filteredBookings" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    
    <div class="p-5">
      <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">
        Booking Info
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Booking Name: {{ booking["Booking Unit Name"] }}
      </p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Unit Number: {{ booking["Booking Unit Number"] }}
      </p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Booking Unit ID: {{ booking["Booking Unit ID"] }}
      </p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Unit Type ID: {{ booking["Unit Type ID"] }}
      </p>
      
      
      <!-- <a routerLink="/single_unit/{{booking['Booking Unit ID']}}"  class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        View Details
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a> -->
    </div>
  </div>
</div>
